*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
    font-size:62.5%;
}
body{
    width:100%;
    height:100%;
    background: rgb(104,205,213);
}
img{
    display:block;
}
.box1{
    padding:20px 0 42px 20px;
}
.box2,.box5,.box6{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box3{
    padding:124px 90px 0;
    display:flex;
    justify-content: center;
}
.box4{
    padding:158px 11% 200px;
    display:flex;
    justify-content: space-between;
}
.content{
    font-size: 2rem;
    font-family: "Hiragino Sans GB";
    color: rgb(255, 255, 255);
    line-height: 1.807;
}
span{
    font-size: 2rem;
    font-family: "Adobe Heiti Std";
    color: rgb(255, 255, 255);
    display:block;
    margin-top: 16px;
}

